form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

label {
  font-weight: bold;
}

ul {
  padding: 5px;
}

li {
  max-width: 600px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
}

li:first-of-type {
  border-top: none;
}

li p {
  max-width: 450px;
}

.booked {
  background-color: lightblue;
}

#schedule > p {
  font-style: italic;
  font-size: 14px;
  padding-left: 20px;
  color: blue;
}

button {
  background-color: white;
  max-width: 150px;
}
