* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 16px Avenir, "Nunito Sans", Helvetica, Arial, sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background: top url("../images/bg_body.gif");
}

header {
  text-align: center;
}

header img {
  margin: 133px 0 75px;
}

nav ul {
  display: block;
  list-style: none;
  margin: 39px 0 41px;
}

nav ul li {
  display: inline;
  margin: 0 35px;
}

nav ul li:first-of-type {
  display: inline;
  margin-left: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #cacaca;
  font: normal 26px "Avenir", Helvetica, Arial, sans-serif;
}

nav ul li a.current-page {
  color: #6db9ff;
  font-weight: bold;
}

main {
  background-color: #fff;
  padding-top: 54px;
  padding-bottom: 16px;
  text-align: center;
}

main article {
  width: 1200px;
  font-size: 16px;
  margin: 42px 0 28px 0;
}

main h1 {
  width: 820px;
  display: block;
  margin: 60px auto 28px;
  font: bold 36px "Avenir", Helvetica, Arial, sans-serif;
}

main h1::before,
main h1::after {
  display: inline-block;
  font-size: 30px;
  content: "\2022";
  vertical-align: 1px;
}

main h1::before {
  margin: 0 27px 0 18px;
}

main h1::after {
  margin: 0 18px 0 23px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 192px;
}

main ul {
  list-style: none;
  display: flex;
  column-gap: 60px;
  margin-top: 128px;
}

figcaption {
  margin-top: 27px;
  font: 24px "Avenir Medium", Helvetica, Arial, sans-serif;
  color: #3e59b2;
}

.column img {
  display: block;
  margin: 2px 0 12px 0;
}

.column img:first-of-type {
  margin: 0;
}

.column img {
  display: block;
}

main article h2 {
  font: 800 24px "Avenir Black", Helvetica, Arial, sans-serif;
  color: #3e59b2;
  margin-bottom: 12px;
}

main p {
  font-weight: 500;
  margin: 0 auto;
  font-size: 20px;
  line-height: 28px;
  width: 820px;
}

main article p:nth-child(2) {
  margin-bottom: 4px;
}

footer {
  background-color: #e7e7e7;
  padding: 82px 0 82px;
  color: #b2b2b2;
}

footer p {
  width: 510px;
  margin: 0 auto;
  text-align: center;
  font: 500 20px/28px "Avenir", Helvetica, Arial, sans-serif;
}

ul.social {
  display: flex;
  justify-content: center;
  column-gap: 124px;
  list-style: none;
  margin-top: 38px;
}

ul.social li a {
  height: 46px;
  width: 46px;
  display: block;
  background: url("../images/icons_social-media.png");
}

ul.social li.twitter a {
  background-position: 0 0;
}

ul.social li.facebook a {
  background-position: 0 -46px;
}

ul.social li.email a {
  background-position: 0 -92px;
}

ul.social li.insta a {
  background-position: 0 -138px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 10;
  opacity: 0.4;
}

#modal {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  width: 815px;
  margin-left: -408px;
  z-index: 11;
  padding: 125px 70px 90px 85px;
  background-color: white;
  text-align: justify;
}

#modal p {
  margin-top: 20px;
  width: 660px;
  font-weight: 300;
}

#modal figure {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#modal figure img {
  width: 100px;
  height: 100px;
}

#modal figcaption {
  margin: 0;
}

#close_modal {
  position: absolute;
  top: 20px;
  right: 20px;
}
