.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

body {
  background-color: royalblue;
  padding-top: 40px;
}

h1 {
  font-size: 28px;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

main {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background-color: white;
}

#commands {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 35px;
  background-color: rgb(196, 194, 194);
  padding: 5px 10px;
}

button {
  height: 30px;
  width: 30px;
  font-size: 12px;
  border: none;
  background-color: rgb(196, 194, 194);
  border-radius: 5px;
  padding: 2px;
}

span {
  height: 15px;
}

button:hover {
  background-color:rgb(226, 225, 225)
}

#content {
  height: 500px;
  width: 500px;
}

#content p {
  position: absolute;
  top: 50px;
  bottom: 5px;
  right: 10px;
  left: 10px;
  font-size: 20px;
}

#content p:focus {
  outline: 0px solid transparent;
}

ol {
  list-style-type: decimal;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
  padding-left: 30px;
}
